################ Editors:
*~
#*#

################ Languages
*.o
*.so
*.pyc
*.pyo

################ Xilinx
# .xise and .prj define the project
# .ut are config files
# iseconfig/filter.filter 
#
*.bgn
*.bit
*.bld
*.cfi
*.cmd_log
*.gise
*.log
*.lso
*.lst
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*_summary.html
*.syr
*.twr
*.twx
*.unroutes
*.upf
*.xmsgs
*.xpi
*.xreport
*.xrpt
*.xwbt
_ngo/
_xmsgs/
xlnx_auto*/
xst/
