################ Editors:
*~
#*#

################ Xilinx
*.bgn
*.bit
*.bld
*.cfi
*.cmd_log
*.filter
*.log
*.lso
*.lst
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.upf
*.ut
*.xmsgs
*.xpi
*.xrpt
*.xst
*.xwbt
*.xreport
_xmsgs/
_ngo/
xlnx_auto*/
xst/
