################ Editors:
*~
#*#

################ Languages
*.o
*.so
*.pyc
*.pyo

################ Xilinx
*.bgn
*.bit
*.bld
*.cfi
*.cmd_log
*.filter
*.log
*.lso
*.lst
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.upf
*.xmsgs
*.xpi
*.xrpt
*.xwbt
*.xreport
_xmsgs/
_ngo/
xlnx_auto*/
xst/
